div.detail {
    text-align: center;
}

h1.title2 {
    font-size: x-large;
}

p.Des2 {
    margin: auto;
  width: 50%;
  padding: 10px;
    word-break: normal;
    font-size: medium;
}

a.url {
    text-align: center;
}

div.player {
    text-align: center;
    margin: auto;
  width: 50%;
  padding: 0px;
    word-break: normal;
    font-size: medium;
}